{% extends 'base.html' %}
{% block title %}
{{ news_detail.title }}
{% endblock title %}

{% block head %}
{% load static %}
{% endblock head %}

{% block content %}
<h1>{{ news_detail.title }}</h1>
<p>Дата публикации: {{ news_detail.created_at|date:"d.m.Y" }}</p>
<p>{{ news_detail.content }}</p>
<p>Автор: {{ news_detail.author.user.username }}</p>
<p>Категория: {% for category in news_detail.categories.all %}{{ category.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

{% if user.is_authenticated %}
    {% for category in news_detail.categories.all %}
        {% if is_subscribed %}
            <form action="{% url 'unsubscribe' news_detail.id category.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Отписаться</button>
            </form>
        {% else %}
            <form action="{% url 'subscribe' news_detail.id category.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Подписаться</button>
            </form>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock content %}