{% extends 'base.html' %}
{% load censor_filters %}
{% block title %}
News
{% endblock title %}

{% block content %}
<h1>News</h1>
<hr>

{% for article in news %}
<div class="news-item">
    <h3>{{ article.title|censor }}</h3>
    <p>Publication Date: {{ article.created_at|date:"d.m.Y" }} Author: {{article.Author}} Rating: {{article.Rating}}</p>
    <p>{{ article.content|slice:":50" |censor }}{% if article.content|length > 50 %}...{% endif %}</p>
    {% if user.is_not_author %}
				
    {% else %}
        <a href="/news/{{ article.id }}/edit/">Edit</a>
        <a href="/news/{{ article.id }}/delete/">Delete</a>
    {% endif %}
</div>
<hr>
{% endfor %}

{% include './parts/paginator.html' %}

{% endblock content %}